# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.venv
.env
requirements.txt

# sqlite to postgres migration
export_data.py
import_data.py
data_backup.json
MIGRATION_GUIDE.md
migrate_data.sh

# API swap over
DummyJSONProduct.json
PlatziProduct.json